.container{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 150px 300px 200px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd" 
    "bio bio bio bio bio bio bio bio"
    "soc soc soc soc soc soc soc soc";
    border: 2px solid blue;
    justify-content: center;
    align-items: center;
}

.header{
    grid-area: hd;
    text-align: center;
}

.biography{
    grid-area: bio;
}

.social{
    grid-area: soc;
    text-align: center;
}

.box{
    border: 2px solid red;
    border-radius: 5px;
    margin: auto;
}