/* Anything smaller than first breakpoint 600px */
@media (max-width: 600px){
    .cards {
        /*rules for small screen*/
        display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
            grid-gap: 20px;
            max-width: 500px;
            margin: 1em auto;
      }
}
  /* Medium Screens */
  @media (min-width: 601px) and (max-width:900px) {
    .cards {
      /*rules for medium-sized screen*/
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
              grid-gap: 20px;
              max-width: 800px;
              margin: 1em auto;
              background-color:skyblue;
    }
  }
  /* Large Screens */
  @media (min-width:901px) {
    .cards {
      /*rules for large screen*/
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(901px, 1fr));
              grid-gap: 20px;
              max-width:1200px;
              margin: 1em auto;
              background-color:cornsilk;
    }
  }